ul {
  list-style: none;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* transition para suavizar el hover */
.group-hover\:block {
  transition: all 0.2s ease;
}

/* Estilo del icono de usuario */
.fa-user {
  font-size: 0.9rem;
}
