<br><br><br><br>


<div class="flex  items-center justify-center ">
    <div
        class="bg-[#64839F] p-8 rounded-xl border-[3px] border-[#011552] w-[700px] h-[350px] flex flex-col items-center">
        <h1 class="text-white text-4xl font-bold text-center mb-8">Apertura de Caja</h1>

        <label for="monto" class="font-semibold text-white block text-lg w-full text-left mb-2">Monto de
            Apertura</label>

        <input type="number" id="monto" class="bg-white w-full p-3 border-[3px] border-[#670305] rounded mb-8" />

        <button
            class="w-[200px] bg-[#070826] text-white font-bold py-2 border-[3px] border-[#B40001] hover:bg-[#011552] transition mx-auto">
            Agregar Apertura
        </button>
    </div>
</div>